<mat-card [ngClass]="{'text-center': !fullWidthMode}" class="min-h-max">
  <div [ngClass]="{'flex': fullWidthMode}">
    <img [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode}" class="mb-1 py-2 mx-auto h-[200px]" src={{product.image}} />

    <div class="grid w-full" [ngClass]="{'place-content-center pl-8':fullWidthMode}">
      <div >
        <h5>Shoes</h5>
        <p class="mx-auto w-3/4 text-center">{{product.title}}</p>
        <p *ngIf="fullWidthMode">{{product.description}}</p>
      </div>

      <div class="flex justify-between px-6">
        <span class="text-red-400">{{ product.price | currency}}</span>
        <button (click)="onAddToCart()" mat-icon-button>
            <mat-icon class="text-gray-500 z-10" fontIcon="shopping_cart"></mat-icon>
        </button>
      </div>
    </div>
  </div>    
</mat-card>
