<mat-toolbar class="max-w-full mx-auto justify-between px-4">
  <a
    routerLink="home"
    class="font-2xl text-purple-100 font-mono italic font-bold"
    >Zing<span class="font-thin not-italic">Store</span></a
  >
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon fontIcon="shopping_cart" [matBadgeHidden]="!itemsQty" [matBadge]="itemsQty" BadgeColor="warn">
    </mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="dark:text-white p-3">
    <div class="divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{itemsQty}} Items</span>
        <a routerLink="cart">View Cart</a>
      </div>

      <div *ngIf="cart.items.length" class="products-wrapper py-4">
        <!-- we will looping over the items and displaying them here -->
        <div *ngFor="let item of cart.items" class="flex justify-between font-light pb-2">
          {{item.name}} x {{item.quantity}}
          <span class="font-bold">{{ item.price | currency }}</span>
        </div>

        <div class="flex justify-between py-3 font-light">
          Total:
          <span class="font-bold">{{ getTotal(cart.items) | currency }}</span>
        </div>
          <div class="pt-3 flex justify-between">
            <button class="bg-rose-600 text-white rounded-full w-9 h-9"  (click)="onClearCart()">
              <mat-icon fontIcon="remove_shopping_cart"></mat-icon>
            </button>
          <button class="bg-green-600 text-white rounded-full w-9 h-9">
              <mat-icon fontIcon="shopping_cart"></mat-icon>
            </button>
          </div>

      </div>
    </div>
  </mat-menu>
</mat-toolbar>
